<h2>About PocketChange</h2>
<div class="row">
	<div class="span8">
		<p>
			We would like it make it easier for people to buy and sell things at CMU.  
		</p>
	</div>
	<div class="span4">
		picture here
	</div>
</div>
