<h2>Contact the A &amp; M Karate School</h2>
	<div class="span8">
		<p>We are not a real business, but 
			rather a course project for programming students at Carnegie Mellon University.</p>

		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Professor Larry Heimann</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("sabatton@andrew.cmu.edu", "Sophie Batton", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>724-831-9549</td>
			</tr>
		</table>

	<div class="span4">
		picture here
	</div>
</div>
