<html>
	<head>	
		<table style="background-color: #F0F0FF; width: 100%; margin-top: 5%">
	  		<tr>
	  			<td style="width:50%; padding-left: 9%; padding-bottom: 12%; padding-top: 4%">
	  				<h1 style="text-align: padding-left">Sell things amongst your 
	  					trusted friends and classmates with a sophicated and easy web application</h1><br>


	  			</td>
	  			<td style="padding-left: 3%">
					<%= image_tag("Tester.png", size:"375x375") %>  			
				</td>
	  		
	  		</tr>
	  	</table>
  </head>
</html>
