<html>
  <style>
    #myMainContainer{
        background-color: #FFFFFF;
        margin-top: 4%;
        box-shadow: 5px 5px 5px #888888;
     }
  </style>
		<div id="loginTableCell" class="col-lg-7">
			<h1 id="introText">Quickly Buy and Sell your goods locally at CMU</h1><br>
		</div>

		<div class="col-lg-5">
		  <%= image_tag("piggy_bank.png", size:"375x375", id:"homeImage") %>  			
	  </div>
	  		
</html>
