<div id="filterrific_results" class="container col-lg-10">
    <br>
    <br>
    <% @items.each do |item| %>
        <div class="col-lg-2 myPanel" style="text-align:center">
          <div>       
              <%= link_to image_tag(item.picture.url, class:"image-size"), item %>
          </div>
          
          <div style="text-align:left">
              <h5><%= link_to item.name, item_path(item) %></h5>
              <h4><%= number_to_currency(item.price) %></h4>
          </div>
        </div>
    <% end %>
</div>