<table>
    <div class="container">
       <ul class="row" >
	<% @items.each do |item| %>
    	  <tr>
    	  
    	    <li class="col-xs-4" style="width: 300px; padding-left: 100pt; padding-right: 100pt; padding-bottom:30pt; list-style-type: none; text-align:center">
                <%= link_to image_tag(item.picture.url, size:"120x120"), item %>
        		<br>
        		<%= item.name %> 
        		<br>
        		<%= number_to_currency(item.price) %> 
        		
    	    </li>
    	  </tr>
          <% end %>
       </ul>
    </div>
</table>




<div class="container">
    <%= link_to 'New Item', new_item_path %>
</div>
