<table>
    <div class="container">
       <ul class="row" >
	<% @items.each do |item| %>
    	  <tr>
    	  
    	    <li class="col-xs-4" style="margin-left:1.8%; width: 300px; padding-bottom:30pt; list-style-type: none; text-align:center">
        	<div style= "border: 1px solid">       
		<%= link_to image_tag(item.picture.url, size:"120x120"), item %>
		</div>
			<div style= "border: 1px solid; background-color: #B6B6B3">
        		<%= item.name %> 
        		<br>
        		<%= number_to_currency(item.price) %> 
			</div>
        		
    	    </li>
    	  </tr>
          <% end %>
       </ul>
    </div>
</table>




<div class="container">
    <%= link_to 'New Item', new_item_path %>
</div>
