<%#
  Filterrific adds some magic when you use form_for with @filterrific:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>

<div class="myDiv col-lg-12">
    <%= form_for @filterrific do |f| %>
        <br>
        <div id="searchContainer">
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            Search <%= f.text_field(
              :search_query, 
              class: 'filterrific-periodically-observed form-control', :size => "133%", :placeholder =>"Search..."
            ) %>
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
            <a href="/items/new" class="btn btn-primary">Post Item</a>
        </div>
    <% end %>
</div>


<div class="container col-lg-12">
    <div class="col-lg-2"></div>
    <%= render(
        partial: 'items/items_list',
        locals: { items: @items }
    ) %>
</div>
