<div class="container col-lg-2">

</div>
<div class="container col-lg-10">
    <table>
       <ul class="row" >

	<% @items.each do |item| %>
    	  <tr>
    	    <li class="col-lg-3" style="padding-top: 30pt; list-style-type: none; text-align:center">
                <%= link_to image_tag(item.picture.url, size:"120x120"), item %>
        		<br>
        		<%= item.name %> 
        		<br>
        		<%= number_to_currency(item.price) %> 		
    	    </li>
    	  </tr>
          <% end %>
       </ul>
    </table>
</div>



